body{
    background-color: rgb(30, 29, 29);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.wordbox{
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.691);
    color: whitesmoke;
    font-weight: bolder;
    border: 3px solid rgb(170, 0, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5rem;
   
    font-weight: bolder;
    font-size: xx-large;
    -webkit-user-select:none;
    -moz-user-select:none;
    user-select:none;
    text-transform: capitalize;
   

}

.abc{
    width: 25px;
    height: 20px;
    background-color:  rgba(170, 0, 255, 0.479);
    color: whitesmoke;
    font-weight: bolder;
    border: 3px solid rgba(0, 0, 0, 0.989);
    padding: 5px;
    margin: 0.3rem;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    -webkit-user-select:none;
    -moz-user-select:none;
    user-select:none;
    text-transform: capitalize;
    cursor: pointer;

}

.main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.reroll{
    background-color: rgba(0, 0, 0, 0.337);
    border: 3px solid rgba(170, 0, 255, 0.479) ;
    color: rgb(16, 213, 203);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    -webkit-user-select:none;
    -moz-user-select:none;
    user-select:none;
    cursor: pointer;
    margin: 1rem;
}

.main2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.main3{
    display: flex;
    justify-content: center;
    align-items: center;
}

.abc:hover{
    background-color: rgba(122, 24, 172, 0.479) ;
}

.GuessLetter{
    display: none; 
    transition: opacity 0.5s ease-out, visibility 0.5s ease-out;
}

.hangedman {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.loose{
    display: none;
    text-align: center;
    font-size: xx-large;
    color: whitesmoke;
}

